@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-carrito{
  position: relative;
}
.icon-carrito img{
  width: 100%;
  max-width: 50px;
}
.icon-carrito span {
  color: #ffffff;
  position: absolute;
  top: -5px;
  right: -5px;
  background: #e683ff;
  border-radius: 100px;
  width: 25px;
  text-align: center;
  font-size: small;
}